* {
  box-sizing: border-box;
}

#stopwatch {

  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 1px black;
  background-color: black;
  margin: auto;

    box-shadow: 1px 1px 24px 12px #0000004a;
}

#leddisplay {

  width: 177px;
  height: 68px;
  border: solid 4px white;
  border-radius: 5px;
  background-color: rgb(101, 98, 98);
  margin: 100px 0px 0px 60px;
  padding: 4px 0px 0px 20px;

}

#leddisplay span:nth-child(odd) {
  font-size: 52px;
}

#leddisplay span:nth-child(even) {
  font-size: 24px;
}

#details {

  color: white;
  border-bottom: solid 2px white;
  width: 160px;
  display: flex;
  margin: auto;
  justify-content: space-between;

}

#buttongroup{
  display: flex;
  flex-direction: column;
  width: 138px;
  margin: auto;
  margin-top: 7px;
  height: 80px;
  justify-content: space-evenly;
}

#buttongroup button{
  opacity: 0.9;
  color: white;
}

#buttongroup button:hover{
  cursor: pointer;
  opacity: 1;
  border: solid 1px white;
  
}

#buttongroup button:nth-child(odd){
  background-color: green;
}


#buttongroup button:nth-child(even){
  background-color: red;
}
